#container{
	width: 960px;
	margin: 0px auto;
	background-color: #ddd;
}
#header{
	text-align: center;
}
#cartoons{
	margin-bottom: 20px;
	text-align: center;
}
#movie-input{
	margin-left: 155px;
	width: 650px;
	height: 30px;
}
#search{
	width: 150px;
	height: 40px;
	margin-top: 30px;
	margin-left: 400px;
	margin-bottom: 20px;
}
#gifs{
	margin-left: 50px;
	font-size: 20px;
	text-align: center;
	font-family: sans-serif;
}
.item{
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	background-color: gray;
	border: solid 1px black;
	border-radius: 10px;
}
.item:hover{
	background-color: red;
}

