body{
	background-color: rgba(0, 0, 0, 0.76);
}
#container{
	width: 960px;
	margin: 0px auto;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 15px;
}
#header{
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #525252;
	font-size: 32px;
}
#cartoons{
	margin-bottom: 20px;
	text-align: center;
}
#cartoons button{
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: white;
	border: none;
}
#cartoons button:hover{
	background-color: #8adaff;
}
#cartoon-input{
	margin-left: 155px;
	width: 650px;
	height: 30px;
	border: solid 1px #8f8f8f;
	font-size: 20px;
}
#search{
	float: left;
	width: 150px;
	height: 40px;
	margin-top: 30px;
	margin-left: 300px;
	margin-bottom: 20px;
	font-size: 30px;
	border: solid 1px black;
	font-family: 'Josefin Sans', sans-serif;
	color: #525252;

}
#search:hover{
	background-color: #9add08;
}
#gifs{
	clear: both;
	width: 100%;
	margin-left: 0px;
	font-size: 25px;
	color: white;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}
.item{
	float: left;
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-left: 5px;
}
img{
	width: 313px;
	height: 180px;
}
#clear{
	float: left;
	width: 150px;
	height: 40px;
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 20px;
	font-size: 30px;
	border: solid 1px black;
	font-family: 'Josefin Sans', sans-serif;
	color: #525252;
}
#clear:hover{
	background-color: #ff6b6b;
}
